<h3>Add a bookmark to <%= list.name %> list</h3>

<%= simple_form_for(@list, @bookmark) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all %>
  <%= f.submit %>
<% end %>
<%= link_to 'Add a bookmark', list_bookmarks_path(@list) %>
